<div class="container">
	<div class="banner jumbotron my-4 p-4 p-md-5 text-white">
		<div class="col-md-6 px-0">
  			<h1 class="display-4 font-italic">Bem-vindo ao Blog do Scopi Sistemas</h1>
  			<p class="lead">Uma pequena demonstração de um blog produzido na Scopi Sistemas feito com Ruby on Rails e AngularJS</p>
		</div>
	</div>
	<div class="row">
		<div class="item mx-md-3 my-4 card p-4" ng-repeat="post in posts">
			<div class="row justify-content-between">
				<svg class="bi bi-three-dots-vertical" width="20px" height="20px" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  					<path fill-rule="evenodd" d="M11.5 15a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd"/>
				</svg>
				<div class="menu" id="menu">
					<a href="/blog-client//#!/post/edit/{{post.id}}"><h6>Editar</h6></a>
					<button ng-click="deletePost(post.id)">Deletar</button>
				</div>
				<div class="row">
					<h6 
						class="mr-3 text-success font-weight-bold" 
						ng-repeat="tag in post.tags"
					>
						{{tag.name}}
					</h6>
				</div>
			</div>
			<div class="post mb-5">
				<a href="/blog-client/#!/post/{{post.id}}"><h2 class="mb-3">{{post.title}}</h2></a>
				<p>{{post.description}}</p>
			</div>
			<div class="row d-flex justify-content-between p-3 align-items-end">
				<p class="card-text text-info">{{post.updated_at | date: 'EEE, MMM d'}}</p>
				<p class="card-text font-italic text-muted">by: {{post.user.name}}</p>					
			</div>
			<div class="card">
				<div ng-if="post.comments[0]" class="row px-4">
					<p class="card-text pt-2 mb-0 font-weight-bold">
						{{post.comments[0].user.name}}
						<span class="card-text pl-3 font-weight-normal">{{post.comments[0].text}}</span>
					</p>
					<p ng-if="post.comments[0].comments[0]" class="card-text font-weight-bold pl-3">
				 		{{post.comments[0].comments[0].user.name}}
						<span class="card-text pl-3 font-weight-normal">{{post.comments[0].comments[0].text}}</span>
					</p>
				</div>
			</div>
		</div>
		<nav aria-label="Page navigation example">
  			<ul class="pagination">
    			<li class="page-item">
      				<a class="page-link" href="#" aria-label="Previous">
        				<span aria-hidden="true">&laquo;</span>
        				<span class="sr-only">Previous</span>
  					</a>
    			</li>
    			<li class="page-item"><a class="page-link" href="#">1</a></li>
    			<li class="page-item"><a class="page-link" href="#">2</a></li>
    			<li class="page-item"><a class="page-link" href="#">3</a></li>
    			<li class="page-item">
  					<a class="page-link" href="#" aria-label="Next">
    					<span aria-hidden="true">&raquo;</span>
        				<span class="sr-only">Next</span>
      				</a>
    			</li>
  			</ul>
		</nav>
	</div>
</div>