<div class="container">
	<div class="banner jumbotron my-4 p-4 p-md-5 text-white">
		<div class="col-md-6 px-0">
  			<h1 class="display-4 font-italic">Bem-vindo ao Blog do Scopi Sistemas</h1>
  			<p class="lead">Uma pequena demonstração de um blog produzido na Scopi Sistemas feito com Ruby on Rails e AngularJS</p>
		</div>
	</div>
	<div class="row container">
		<div class="options col-2">
			<select ng-model="option" class="form-control">
				<option value="" disabled>Filtrar por:</option>
				<option value="tag">Tag</option>
				<option value="title">Título</option>
				<option value="description">Descrição</option>
				<option value="comment">Comentário</option>
			</select>
		</div>
		<div class="row col-6">
			<select ng-show="option == 'tag'" class="mx-3 col-6 form-control" ng-model="value">
				<option value="" disabled>Tags</option>
				<option value={{tag.name}} ng-repeat="tag in tags">{{tag.name}}</option>
			</select>
			<input ng-show="option == 'title' || option == 'description' || option == 'comment'" ng-model="value" class="form-control col-6 mx-3" type="text" name="value">
			<div>
				<button class="btn btn-info" ng-click="filter(option, value)" ng-show="option">Filtrar</button>
				<button class="btn btn-danger" ng-click="cancel()" ng-show="option">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="item mx-md-3 my-4 card p-4" dir-paginate="post in posts | filter:search | itemsPerPage:9">
			<div class="row justify-content-between">
				<ul class="menu">
					<li>
						<svg class="bi bi-three-dots-vertical" width="20px" height="20px" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  							<path fill-rule="evenodd" d="M11.5 15a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd"/>
						</svg>
						<ul>
							<li>
								<a href="/blog-client/#!/post/edit/{{post.id}}"><h6>Editar</h6></a>
							</li>
							<li>
								<a href="#" ng-click="deletePost(post.id)">Deletar</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="row">
					<h6 class="mr-3 text-success font-weight-bold" ng-repeat="tag in post.tags">
						{{tag.name}}
					</h6>
				</div>
			</div>
			<div class="post mb-5">
				<a href="/blog-client/#!/post/{{post.id}}"><h2 class="mb-3">{{post.title}}</h2></a>
				<p>{{post.description}}</p>
			</div>
			<div class="row d-flex justify-content-between p-3 align-items-end">
				<p class="card-text text-info">{{post.updated_at | date: 'EEE, MMM d'}}</p>
				<p class="card-text font-italic text-muted">by: {{post.user.name}}</p>					
			</div>
			<div class="card">
				<div ng-if="post.comments[0]" class="commentPost px-3">
					<div class="firstComment">
						<p class="card-text pt-2 mb-0 font-weight-bold">
							{{post.comments[0].user.name}}
							<span class="card-text pl-3 font-weight-normal">{{post.comments[0].text}}</span>
						</p>
					</div>
					<div class="firstComment">
						<p ng-if="post.comments[0].comments[0]" class="card-text font-weight-bold pl-3 pb-1">
				 			{{post.comments[0].comments[0].user.name}}
							<span class="card-text pl-3 font-weight-normal">{{post.comments[0].comments[0].text}}</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center py-5">
		<dir-pagination-controls max-size="5"></dir-pagination-controls>
	</div>
</div>