<div class="container" ng-controller="ShowController">
	<div class="row banner-show jumbotron my-5 p-4 p-md-5 text-white justify-content-center">
		<div class="col-md-6 px-0 text-center">
  			<h1 class="display-4 font-italic">{{post.title}}</h1>
		</div>
	</div>
	<div class="row">

		<div class="col-md-8">
			<p class="lead">{{post.description}}</p>
		</div>

		<div class="col-md-4 card">

			<div class="title">
				<h3>Comentários:</h3>
			</div>

			<comment ng-repeat="comment in post.comments" comment="comment" actions="true"></comment>

			<form name="commentForm" class="mb-3">
				<div class="input-group mt-5">
	 				<input ng-required="true" ng-model="text.text" name="text" type="text" id="comment" class="form-control" placeholder="Deixe seu comentário" >
	 				<div class="input-group-append">
						<button ng-click="postComment(text, post.id)" ng-disabled="commentForm.$invalid" type="submit" class="btn btn-outline-secondary btn-info title" type="button">Publicar</button>
					</div>
				</div>
			</form>

			<div ng-show="commentForm.usuario.$invalid && commentForm.text.$dirty" class="alert alert-danger p-0">
				<p>Selecione um usuário!</p>
			</div>
			<div ng-show="commentForm.text.$invalid && commentForm.text.$dirty" class="alert alert-danger p-0">
				<p>Insira algo no comentário!</p>
			</div>

		</div>
	</div>
</div>