<div class="container" ng-controller="ShowController">
	<div class="row banner-show jumbotron my-5 p-4 p-md-5 text-white justify-content-center">
		<div class="col-md-6 px-0 text-center">
  			<h1 class="display-4 font-italic">{{post.title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<p class="lead">{{post.description}}</p>
		</div>
		<div class="col-md-4 card">
			<div class="title">
				<h3>Comentários:</h3>
			</div>
			<div ng-if="comment" ng-repeat="comment in post.comments" class="px-4">
				<div class="comment card-text pt-2 mb-0 font-weight-bold">
					{{comment.user.name}}
					<span class="card-text pl-3 font-weight-normal">{{comment.text}}</span>
				</div>
				<button onclick="respost()" class="respost btn btn-link">Responder</button>
				<div ng-if="comment.comments" ng-repeat="comment in comment.comments" class="card-text font-weight-bold py-1 pl-3">
					<div class="comment">
			 			{{comment.user.name}}
						<span class="card-text pl-3 font-weight-normal">{{comment.text}}</span>
					</div>
					<button onclick="respost()" class="respost btn btn-link">Responder</button>
					<div ng-if="comment.comments" ng-repeat="comment in comment.comments" class="comment card-text font-weight-bold ml-3">
						{{comment.user.name}}
						<span class="card-text pl-3 font-weight-normal">{{comment.text}}</span>
					</div>
					<button onclick="respost()" class="respost btn btn-link">Responder</button>
				</div>
			</div>
			<div class="input-group mt-5">
				<div class="input-group-prepend">
					<select ng-model="comment.user_id" class="btn btn-outline-secondary dropdown-toggle">
						<option class="dropdown-item bg-light" value="" disabled>Usuário</option>
						<option class="dropdown-item bg-light" value="{{user.id}}" ng-repeat="user in users">{{user.name}}</option>
					</select>
				</div>
 				<input type="text" id="comment" class="form-control" placeholder="Deixe seu comentário" ng-model="comment.text">
			</div>
			<button ng-click="postComment(comment, post.id)" class="btn title my-3" type="button">Publicar</button>
		</div>
	</div>
</div>